*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: candara;
}
html{
	scroll-behavior: smooth;
}

.header-manu{
	background: #FFF;
	padding: 8px 0px;
	position: sticky;
	top: 0px;
	box-shadow:0px -4px 10px #000;
	z-index: 999;
}
.header-manu .conteinar{
	width: 90%;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}
.logo{
	width: 8%;
	display: inline-block;
}
.logo a{
	display: block;
	width: 100%;
	font-size: 50px;
	text-decoration: none;
	padding: 5px;
	border: 2px solid #10b9a3;
	border-radius: 10px;
	text-align: center;
	color: #10b9a3;
}
.manu{
	width: 90%;
	display: inline-block;
}
.manu ul{
	list-style: none;
	text-align: center;
}
.manu ul li{
	display: inline-block;
}
.manu ul li a{
	display: block;
	font-size: 18px;
	text-align: center;
	text-decoration: none;
	padding: 5px 8px;
	color:  #10b9a3;
	border-bottom: 2px solid transparent;
	transition: .5s;
}
.manu ul li a:hover{
	border-bottom: 2px solid #34495e;
}
.manu ul li.social a{
	display: inline-block;
	padding: 2px;
}
.manu ul li.social a i{
	color:  #FFF;
	transition:.3s;
}
.manu ul li.social a i:hover{
	color: #34495e;
}
.manu ul li.social{
	padding:5px;
	background: #10b9a3;
}
.manu ul li.social a.tex{
	color: #FFF;
	cursor: pointer;
}
.manu ul li.social a.tex:hover{
	border-bottom: 2px solid #FFF;
}
.manu ul li.order{
	float: right;
}

.manu ul li.order a{
	background: #1dbf73;
	color: #FFF;
	border-radius: 4px;
	border-bottom: 2px solid #1dbf73
}
.manu ul li.order a:hover{
	border-bottom: 2px solid #0aac60;
	background: #0aac60;
}

/*=ooo===END===ooo=*/

.home{
	width: 100%;
	background: url('img/white-background.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	height: 100vh;
	padding: 5px 0px;
}
.home .conteinar{
	width: 80%;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}
.home .conteinar img{
	width: 400px;
	height: 250px;
	display: inline-block;
}
.home .conteinar h1{
	padding: 5px 10px;
	color: #10b9a3;
	font-size: 22px;
}
.home .conteinar h3{
	color:  #566573;
	font-size: 20px;
}
.home .conteinar i{
	font-size: 60px;
	color: #566573;
}


/*=ooo===END===ooo=*/



#count{
	box-shadow: 0px -6px 10px #FFF;
}
.complete{
	width: 100%;
	height: 90px;
	background: #FFF;
}
.complete .conteinar{
	display: block;
	width: 100%;
	height: 100%;
}
.complete .filter{
	width: 100%;
	height: 100%;
	display: block;
	background: rgba(0,0,0,0.8);
	display: flex;
	align-items: center;
	justify-content: center;
}
.project, .reting{
	width: 50%;
	display: inline-block;
	text-align: center;
}
.project h2, .reting h2{
	font-size: 25px;
	text-align: center;
	display: block;
	width: 40%;
	margin: auto;
	color: #FFF;
	padding: 5px 8px;
	border-bottom: 4px solid #FFF;
	text-shadow: 0px 0px 4px floralwhite;
}
.project span, .reting span{
	display: block;
	width: 40%;
	font-size: 22px;
	margin: auto;
	color: #10b9a3;
	font-weight: bold;
	padding: 5px 8px;
}
.project span{
	color: #FFF;
	text-shadow: 0px 0px 5px #75fdff;
}
.reting span p{
	color: #FFF;
	text-shadow: 0px 0px 5px #75fdff;
}
.reting span i{
	font-size: 18px;
	color: gold;
}
.reting span p{
	display: inline-block;
	font-size: 16px;
	color: #ebedef;
	padding: 3px 5px;
}

/*=ooo===END===ooo=*/

.about{

}
.about .conteinar{
	width: 100%;
	margin: auto;
	overflow: hidden;
}
.about .img{
	width: 30%;
	display: inline-block;
	border-right: 15px solid #FFF;
	height: 500px;
	box-shadow: -2px -5px 5px #000;
	clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}
.about .d-n{
	width: 70%;
	float: right;
	border-top: 10px solid #10b9a3;
}
.title {
	display: block;
	padding: 5px 10px;
	margin: 50px auto;
}
.title h1{
	display: block;
	width: 200px;
	padding: 4px 8px;
	text-align: left;
	border: 2px solid #10b9a3;
	border-radius: 4px;
	font-size: 20px;
	color: #10b9a3;
}
.title h3{
	display: block;
	width: 180px;
	padding: 2px 4px;
	text-align: left;
	background: #10b9a3;
	border: 2px solid transparent;
	border-radius: 4px;
	font-size: 14px;
	color: #FFF;
	margin: 5px 0px;
}

.ab-dn{
	display: block;
	padding: 5px 10px;
	margin: 20px auto;
}
.button{
	width: 120px;
	height: 50px;
	padding: 5px 10px;
	position: relative;
}
.button button{
	padding: 2px 15px;
	font-size: 25px;
	font-weight: bold;
	color: #10b9a3;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	background: transparent;
	border: 2px solid #10b9a3;
	transition: .5s;
	border-radius: 35px;
}
.button .btn-1{
	background: #10b9a3;
	color: #FFF;
	clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%);
}
.button .btn-2{
	background: #FFF;
	color: #10b9a3;
	clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
}
.button button:hover{
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.details{
	display: block;
	padding: 10px;
}
.details p{
	letter-spacing: 1px;
	line-height: 35px;
	font-size: 19px;
	padding-left: 10px;
}

/*=ooo===END===ooo=*/


#templete{
	border-top: 10px solid #f1f1f1;
}
.templete{
	padding: 10px;
}
.templete .hading{
	display: block;
	padding: 10px;
	text-align: center;
}
.templete .hading h1{
	text-align: center;
	font-size: 28px;
	display: inline-block;
	color: #10b9a3;
	border-bottom: 5px solid #10b9a3;
	padding: 5px 12px;
}
.templete .conteinar{
	width: 90%;
	margin: auto;
}
.row{
	display: inline-block;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px;
	border: 1px solid #10b9a3;
	margin: 10px auto;
	border-radius: 8px;
}